<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taskpal.taskpal">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartupActivity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".NewTaskActivity" />
        <activity android:name=".EditTaskActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme2" />
        <activity android:name=".completionTimeActivity" />
        <activity android:name=".difficultyActivity" />
        <activity android:name=".alertActivity" />
        <activity android:name=".dateActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name=".Intro2Activity" />
        <activity android:name=".Intro3Activity" />
        <activity android:name=".Intro4Activity" />
        <activity android:name=".Intro5Activity" />
        <activity android:name=".Intro6Activity" />
    </application>

</manifest>